<!doctype html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <base href="app://rse">
  <meta property="csp-nonce" content="<%= htmlWebpackPlugin.options.nonce %>" />
</head>

<body>
  <div id="target"></div>
</body>

</html>